<!-- <app-project></app-project> -->
<!-- <app-server></app-server> -->
<!-- <app-application></app-application> -->
<!-- <app-tourofheroes></app-tourofheroes> -->

<!-- below code is to be displayed for tour of heroes -->

<!-- <h1> {{title}} </h1>
<app-heroes></app-heroes>
<app-messages></app-messages> -->
<!-- 
<div class="container">

    <app-cockpit></app-cockpit>

    <hr>
    <div class="row">
     
        <div class="col-xs-12">
            <app-server-element
             *ngFor = "let serverElement of serverElements"
              [srvElement]="serverElement">
            </app-server-element>
        </div>
    </div>

</div>
 -->


<!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipe></app-recipe>
            <app-shopping-list></app-shopping-list>
            
        </div>
    </div>
    
</div> -->
<ng2-odometer [number]="number" [config]="{ }"></ng2-odometer>