<!-- <app-recipe></app-recipe> -->
<body class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#shopping">SHOPPING LIST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">RECIPE BOOK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">HELP</a>
    </li>
  </ul>
<!-- shopping portion -->
  <div id="shopping">
    <p>Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them. A typology of shopper types has been developed by scholars which identifies one group of shoppers as recreational shoppers,[1] that is, those who enjoy shopping and view it as a leisure activity.</p>
    
    <h1>FLASH SALE</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Women's Dresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Men's Wear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids Wear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home and living</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Decor</a>
        </li>
      </ul>
    
  </div>
  <!-- shopping portion ended -->
  
</body>